
  .button {
    width: 280px;
    background-color: #68B738;
    color: #ffffff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 1;
    padding: 10px 50px 10px 50px;
    font-family: inherit;
    cursor: pointer;
    &:focus{
     color: #8FC46E;
    }
  }


@media (min-width: 768px) {

  .button {
    width: 245px;
    background-color: #68B738;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 1;
    margin-left: 120px;
    padding: 10px 0  10px 0;
    font-stretch: condensed ;
    font-family: inherit;
    margin-bottom: 510px;

  }
}
  @media (min-width: 1440px) {

    .button{
      margin-left: 90px;
    }

  }